body {
	background-color: #ccc;
	text-align: center;
}

img {
	width: 100%;
	max-width: 500px;
	margin: auto;
}
iframe {
	width: 100%;
	max-width: 500px;
	height: 300px;
	margin: auto;
	display: inline-block;
	frameborder: 0;
	scrolling: no;
	allowfullscreen: true;
}

h1 {
	font-family: 'beryliumregular';
}
p {
	text-align: left;
}

/*Hyperlinks*/
a:link {
	color:#930;
}
a:active {
	color:#f90;
}
a:visited {
	color:#c60;
}