/*Main Layout */
body {
	background-color: #252;
}
.header {
	background-color: #fc0;
	text-align: center;
	border: 10px solid black;
	border-top: none;
}

/*Train Style*/
.main {
	border-left: 25px solid #610;
	border-right: 25px solid #610;
}
.section {
	background-color: #ccc;
}
.row {
	padding-bottom: 20px;
}

.head {
	background-color: #c53;
	margin-bottom: 5px;
	text-align: center;
}
.content {
	padding: 5px;
}
.footer {
	padding-bottom: 10px;
	margin-bottom: 30px;
}

/*Formatting*/
h1, h2, h3, h4, h5 {
	font-family: 'beryliumregular';
}
h6 {
	text-decoration: underline;
}

.nav {
	display: block;
	list-style-type: none;
	text-align: center;
	background-color: #fc0;
	border: 10px solid black;
	border-top: none;
	padding: 5px 0;
}
.nav li {
	display: inline;
	font-size: 1.6rem;
	padding: 0 2%;
	margin: 0;
}
.profile {
	text-align: center;
	padding: 0;
}
.profile img {
	margin-top: 5px;
	margin-right: 10px;
	width: 100%;
	max-width: 200px;
}
.profile p {
	text-align: left;
}

.project {
	color: #000;
	text-align: center;
	vertical-align: bottom;
}
.project a {
	/*font-size: 1.5em;*/
	text-decoration: none;
	text-align: bottom;
}
.project img {
	max-width: 100%;
	max-height: 250px;
	margin: auto;
	display: block;
}

.fancybox-slide--iframe .fancybox-content {
    max-width: 80%;
    max-height: 80%;
}
iframe {
	width: 100%;
	height: 500px;
	margin: auto;
}

.footer ul {
	padding-left: 10px;
}

/*Media icons*/
.media {
	display: block;
	list-style-type: none;
	text-align: center;
	background-color: #666;
}
.media li { /* Dynamic size handled in skeleton.css*/
	display: inline;
	font-size: 1.5em;
	padding: 0 5%;
	margin: 0;
}
.media li a {
	color: #ddd;
}
.media li.google a:hover { color: rgb(222,83,71);}
.media li.salesforce a:hover { color: rgb(0,161,224);}
.media li.linkedin a:hover { color: rgb(0,123,182);}
.media li.handshake a:hover { color: rgb(253,206,74);}
.media li.gitlab a:hover { color: rgb(252,109,38);}
.media li.twitch a:hover { color: rgb(100,65,164);}