/*Main Layout */
body{
	background-color: #252;
}
.header{
	background-color: #fc0;
	text-align: center;
	border: 10px solid black;
	border-top: none;
}

/*Train Style*/
.main{
	border-left: 50px solid #610;
	border-right: 50px solid #610;
	/*padding: 20px 0;*/
}
.section{
	background-color: #ccc;/*#bd8;*/
}
.row{
	padding-bottom: 20px;
}

.head{
	background-color: #c53;
	margin-bottom: 5px;
	text-align: center;
}
.project{
	vertical-align: bottom;
}

.content{
	padding: 5px;
}

/*Formatting*/
h1, h2, h3{
	font-family: 'beryliumregular';
	margin-bottom: 0;
}
h3{
	font-size: 2em;
}
h4{
	font-size: 1.5em;
	margin-bottom: 0;
	text-decoration: underline;
}

p, ul, li{
	margin-bottom: 0;
}

.profile{
	margin-right: 10px;
	float: left;
}

.project{
	min-width: 160px;
	color: #000;
	text-align: center;
}
.project a{
	/*font-size: 1.5em;*/
	text-decoration: none;
	text-align: bottom;
}
.project img{
	max-width: 100%;
	max-height: 250px;
	margin: auto;
	display: block;
}

.fancybox-slide--iframe .fancybox-content {
    max-width: 80%;
    max-height: 80%;
}
iframe{
	width: 100%;
	height: 500px;
	margin: auto;
}

.footer ul{
	padding-left: 10px;
}

/*Media icons*/
.media{
	display: block;
	list-style-type: none;
	text-align: center;
	background-color: #666;
}
.media li{
	font-size: em;
	display: inline;
	padding: 0 2%;
}
.media li a{
	color: #ddd;
}
.media li.google a:hover{ color: rgb(222,83,71);}
.media li.facebook a:hover{ color: rgb(59,89,152);}
.media li.linkedin a:hover{ color: rgb(0,123,182);}
.media li.handshake a:hover{ color: rgb(253,206,74);}
.media li.gitlab a:hover{ color: rgb(252,109,38);}
.media li.twitch a:hover{ color: rgb(100,65,164);}

/*Hyperlinks*/
a:link {
	color:#930;
}
a:active {
	color:#f90;
}
a:visited {
	color:#c60;
}