/*Main Layout */
body {
	background-color: #6FA86F;
}
.header {
	background-color: #FFC87F;
	text-align: center;
	border: 10px solid black;
	border-top: none;
}

/*Train Style*/
.container {
	padding: 0;
	max-width: 1270px;
}
.main {
	border-left: 25px solid #7F3F1F;
	border-right: 25px solid #7F3F1F;
}
.section {
	background-color: #ccc;
}
.row {
	padding-bottom: 20px;
}

.head {
	background-color: #c53;
	margin-bottom: 5px;
	text-align: center;
}
.content {
	padding: 5px;
}
.footer {
	padding-bottom: 10px;
	margin-bottom: 30px;
}

/*Formatting*/
h1, h2, h3, h4, h5 {
	font-family: 'beryliumregular';
}
h6 {
	text-decoration: underline;
}
a:link {
	color:#930;
}
a:active {
	color:#f90;
}
a:visited {
	color:#c60;
}

.navbar {
	position: sticky;
	top: 0;
	display: block;
	list-style-type: none;
	text-align: center;
	background-color: #FFC87F;
	border: 10px solid black;
	border-top: none;
	padding: 5px 0;
}
.navbar li {
	display: inline;
	font-size: 1.6rem;
	padding: 0 2%;
	margin: 0;
}
.profile {
	text-align: center;
	padding: 0;
}
.profile img {
	margin-top: 5px;
	margin-right: 10px;
	width: 100%;
	max-width: 200px;
}
.profile p {
	text-align: left;
}

.project {
	color: #000;
	text-align: center;
	vertical-align: bottom;
}
.project a {
	/*font-size: 1.5em;*/
	text-decoration: none;
	text-align: bottom;
}
.project img {
	max-width: 100%;
	max-height: 250px;
	margin: auto;
	display: block;
}

.fancybox-slide--iframe .fancybox-content {
    max-width: 1000px;
    max-height: 80%;
}
iframe {
	width: 100%;
	height: 500px;
	margin: auto;
}

.footer ul {
	padding-left: 10px;
}

/*Media icons*/
.media {
	display: block;
	list-style-type: none;
	text-align: center;
	background-color: #666;
}
.media li {
	display: inline;
	font-size: 1.5em;
	padding: 0 5%;
	margin: 0;
}
.media li a {
	color: #ddd;
}
.media li.google a:hover { color: rgb(222,83,71);}
.media li.salesforce a:hover { color: rgb(0,161,224);}
.media li.linkedin a:hover { color: rgb(0,123,182);}
.media li.handshake a:hover { color: rgb(253,206,74);}
.media li.gitlab a:hover { color: rgb(252,109,38);}
.media li.twitch a:hover { color: rgb(100,65,164);}

/* Media Queries */
@media (min-width: 350px) {
	.main {
		border-left: 50px solid #7F3F1F;
		border-right: 50px solid #7F3F1F;
	}
}

@media (min-width: 450px) {
	.container {
		width: 85%;
		padding: 0;
	}
	.profile {
		padding: 5px;
		padding-top: 0;
	}
	.profile img {
		float: left;
	}
	.contact {
		width: 50%;
		flex: 1;
	}
	.contact p {
		display: block;
	}
}

@media (min-width: 550px) {
	.container {
		width: 80%;
	}
	.contact p {
		text-align: left;
	}
}

@media (min-width: 750px) {
	.media li {
		font-size: 2em;
	}
	.navbar li {
		font-size: 2rem;
	}
}

@media (min-width: 1000px) {
	.media li {
		font-size: 2.5em;
	}
	.navbar li {
		padding: 0 4%;
	}
}